@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-7_5xl {
  font-size: 5rem;
  line-height: 1;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
